* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px black solid;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.header {
    background-color: rgb(223, 112, 47);
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 4rem 1rem 3rem;
}

.header * {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.top-bar *, .bottom-bar * {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    align-items: center;
}

.search {
    display: flex;
    width: 60%;
    gap: 1rem;
}

.top-bar img {
    border-radius: 2rem;
}

.bottom-bar img {
    border-radius: 3rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}

input {
    flex: 2;
    width: 100%;
    height: 2rem;
    border-radius: 1.5rem;
    padding: 0 1rem;
}

.header button {
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.sidebar {
    background-color: rgb(114, 114, 216);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
}

.navigation, .tools {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
}

.logo, .nav-cards, .tool-cards {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.main-content {
    background-color: whitesmoke;
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.card, .text-content {
    display: flex;
    flex-direction: column;
}

.card {
    padding: 1rem;
    gap: 2rem;
    border-radius: 0.5rem;
    border-left: 1rem lightblue solid;
}

.text-content {
    gap: 1rem;
}

.nav-icons {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.trending-cards {
    display: grid;
    grid-template-columns: 1fr 3fr;
}